
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 blogbox">
            <div class="imagebox">
                {{ navbar }}
                <img src="{{ headerimg }}" class="blogimg">
                {{ /navbar }}
            </div>
            <div class="bloginfobox">
                <header>
                    <h2 class="blogtitle">{{ title }}</h2>
                    <div>{{ date }}</div>
                </header>
                <div class="blogtext">
                    {{ text }}
                </div>

                <footer class="entry-footer"></footer>
            </div>
        </div>
    </div>
</div>