.cards {
  padding:20px 0px;
  border:1px solid #eeeeee;
  }

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.topandborderpadding{
  padding:20px 0px;
}
.item{
  border: solid #c8c8c8 1px;
  height: 340px;
}
.paddingleftandright{
  margin: 0px 10px;
}