.bgbalk{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}
.blackoverlay{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.balkpadding{
  padding-top: 50px;
}
hr{
  border-top: 1px solid #dcdcdc;
}