.bg-img{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
}
.navbar{
  margin-bottom: 0px;
}
.margintopfix{
margin-top: 0px;
}
.headertitle{
  padding-top: 7vh;
  color: rgb(255, 255, 255);
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
}
.headertext{
  white-space: normal;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.paddingbottom{
  padding-bottom: 20px;
}
.logo{
  height: 40px;
  margin-top: -10px;
}
